DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/blog_db
HOST=127.0.0.1
PORT=3000
GRPC_PORT=50051

JWT_SECRET=xK9mP2nQ5rT8vW3yZ6cA1dF4gH7jL0pR9sU2vX5bN8mQ1wE4rY7tU2i

CORS_ORIGIN=http://localhost:3000,http://localhost:8080,http://localhost.:8080

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=blog_db